Repository oks-citadel/Apply: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines-terraform.yml, azure-pipelines.yml

.azuredevops/pipelines/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Security
    displayName: 1. Security Scanning
    jobs:
    - job: SecurityScans
      displayName: SAST, SCA, Secrets Detection
      steps:
      - checkout: self
        fetchDepth: 0
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
  ...

.azuredevops/pipelines/main.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndTest
    displayName: A. Build & Test
    jobs:
    - job: SecurityScanning
      displayName: Security Scanning
      steps:
      - checkout: self
        fetchDepth: 0
      - template: templates/security/security-scan.yml
        parameters:
  ...

azure-pipelines-aks.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildValidate
    displayName: Build & Validate
    jobs:
    - job: Build
      displayName: Build Application
      steps:
      - checkout: self
        fetchDepth: 0
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
  ...

azure-pipelines-enhanced.yml:
  stages:
  - stage: Build
    displayName: Build & Validate
    jobs:
    - job: Setup
      displayName: Setup Dependencies
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
  ...

azure-pipelines-terraform.yml:
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: Validate
      displayName: Terraform Validate
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Security
    displayName: üîí Security Scanning
    jobs:
    - job: SAST
      displayName: Static Application Security Testing
      steps:
      - checkout: self
        fetchDepth: 0
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
  ...

chore: Update pnpm-lock.yaml after adding @types/node
  pnpm-lock.yaml
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix Python and TypeScript syntax errors
  packages/policy-generator/src/templates.ts
  services/ai-service/src/main.py
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

feat: Add 10 job board providers with Redis caching + build fixes
  .claude/settings.local.json
  apps/admin/next.config.js
  apps/admin/src/app/analytics/page.tsx
  apps/admin/src/app/login/page.tsx
  apps/admin/tsconfig.json
  apps/employer/next.config.js
  apps/employer/tsconfig.json
  apps/web/next.config.js
  docs/GAP_ANALYSIS_COMPREHENSIVE_2024_12_18.md
  packages/policy-generator/tsconfig.tsbuildinfo
  services/auto-apply-service/tsconfig.tsbuildinfo
  services/job-service/src/main.ts
  services/job-service/src/modules/aggregator/aggregator.controller.ts
  services/job-service/src/modules/aggregator/aggregator.module.ts
  services/job-service/src/modules/aggregator/aggregator.service.ts
  services/job-service/src/modules/aggregator/cache/job-cache.service.ts
  services/job-service/src/modules/aggregator/providers/adzuna.provider.ts
  services/job-service/src/modules/aggregator/providers/careerjet.provider.ts
  services/job-service/src/modules/aggregator/providers/dice.provider.ts
  services/job-service/src/modules/aggregator/providers/index.ts
  services/job-service/src/modules/aggregator/providers/jooble.provider.ts
  services/job-service/src/modules/aggregator/providers/simplyhired.provider.ts
  services/job-service/src/modules/aggregator/providers/talent.provider.ts
  services/job-service/src/modules/aggregator/providers/ziprecruiter.provider.ts
  services/job-service/src/modules/jobs/entities/job.entity.ts
  services/notification-service/tsconfig.tsbuildinfo
  services/orchestrator-service/tsconfig.tsbuildinfo
  services/resume-service/tsconfig.tsbuildinfo
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Update job-service Dockerfile port and add build validation
  .acrignore
  services/job-service/Dockerfile
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Update job-service Dockerfile with improved monorepo build
  services/job-service/Dockerfile
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

feat: Enable Job Aggregator for real-time worldwide job fetching
  .acrignore
  services/job-service/src/app.module.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Remove invalid Python image digest from ai-service Dockerfile
  services/ai-service/Dockerfile
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix Dockerfile CMD paths and StorageService DI issue
  services/analytics-service/Dockerfile
  services/job-service/Dockerfile
  services/user-service/src/modules/storage/storage.service.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Resolve NestJS DI issues and ingress port mismatch
  infrastructure/kubernetes/base/ingress.yaml
  infrastructure/kubernetes/overlays/staging/ingress-patch.yaml
  infrastructure/kubernetes/production/ingress.yaml
  infrastructure/kubernetes/production/job-service-deployment-updated.yaml
  infrastructure/kubernetes/production/job-service-deployment.yaml
  services/job-service/Dockerfile
  services/job-service/src/common/cache/redis-cache.module.ts
  services/job-service/src/common/cache/redis-cache.service.ts
  services/job-service/src/common/guards/jwt-auth.guard.ts
  services/job-service/src/health/health.service.ts
  services/job-service/src/modules/aggregator/cache/job-cache.service.ts
  services/job-service/src/modules/aggregator/providers/adzuna.provider.ts
  services/job-service/src/modules/aggregator/providers/careerjet.provider.ts
  services/job-service/src/modules/aggregator/providers/dice.provider.ts
  services/job-service/src/modules/aggregator/providers/glassdoor.provider.ts
  services/job-service/src/modules/aggregator/providers/indeed.provider.ts
  services/job-service/src/modules/aggregator/providers/jooble.provider.ts
  services/job-service/src/modules/aggregator/providers/linkedin.provider.ts
  services/job-service/src/modules/aggregator/providers/simplyhired.provider.ts
  services/job-service/src/modules/aggregator/providers/talent.provider.ts
  services/job-service/src/modules/aggregator/providers/ziprecruiter.provider.ts
  services/job-service/src/modules/ingestion/adapters/adapter.factory.ts
  services/job-service/src/modules/ingestion/adapters/bamboohr.adapter.ts
  services/job-service/src/modules/ingestion/adapters/base.adapter.ts
  services/job-service/src/modules/ingestion/adapters/glassdoor.adapter.ts
  services/job-service/src/modules/ingestion/adapters/google-jobs.adapter.ts
  services/job-service/src/modules/ingestion/adapters/greenhouse.adapter.ts
  services/job-service/src/modules/ingestion/adapters/indeed.adapter.ts
  services/job-service/src/modules/ingestion/adapters/lever.adapter.ts
  services/job-service/src/modules/ingestion/adapters/linkedin.adapter.ts
  services/job-service/src/modules/ingestion/adapters/remoteok.adapter.ts
  services/job-service/src/modules/ingestion/adapters/uk-civil-service.adapter.ts
  services/job-service/src/modules/ingestion/adapters/usajobs.adapter.ts
  services/job-service/src/modules/ingestion/adapters/wellfound.adapter.ts
  services/job-service/src/modules/ingestion/adapters/weworkremotely.adapter.ts
  services/job-service/src/modules/ingestion/adapters/workday.adapter.ts
  services/job-service/src/modules/ingestion/adapters/ziprecruiter.adapter.ts
  services/job-service/src/modules/jobs/jobs.service.optimized.ts
  services/job-service/src/modules/jobs/jobs.service.ts
  services/job-service/src/modules/search/search.service.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Correct typos in build-images workflow (ppnpm -> pnpm, @jobpilot -> @applyforus)
  .github/workflows/build-images.yml
Due: azure-pipelines-enhanced.yml

fix: Convert remaining import type to regular imports in job-service
  services/job-service/src/health/health.controller.ts
  services/job-service/src/modules/aggregator/aggregator.controller.ts
  services/job-service/src/modules/aggregator/aggregator.service.ts
  services/job-service/src/modules/alerts/alerts.controller.ts
  services/job-service/src/modules/alerts/alerts.service.ts
  services/job-service/src/modules/companies/companies.controller.ts
  services/job-service/src/modules/ingestion/ingestion.controller.ts
  services/job-service/src/modules/ingestion/processors/ingestion.processor.ts
  services/job-service/src/modules/ingestion/services/ingestion-scheduler.service.ts
  services/job-service/src/modules/ingestion/services/ingestion.service.ts
  services/job-service/src/modules/jobs/jobs.controller.ts
  services/job-service/src/modules/jobs/jobs.service.optimized.ts
  services/job-service/src/modules/jobs/jobs.service.ts
  services/job-service/src/modules/normalization/normalization.controller.ts
  services/job-service/src/modules/normalization/processors/normalization.processor.ts
  services/job-service/src/modules/normalization/services/normalization.service.ts
  services/job-service/src/modules/playbooks/playbooks.controller.ts
  services/job-service/src/modules/reports/job-reports.controller.ts
  services/job-service/src/modules/reports/reports.controller.ts
  services/job-service/src/modules/search/search.controller.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

feat: Add 6 FREE job API providers and real-time polling for jobs
  apps/web/src/hooks/useJobs.ts
  services/job-service/src/modules/aggregator/aggregator.controller.ts
  services/job-service/src/modules/aggregator/aggregator.module.ts
  services/job-service/src/modules/aggregator/aggregator.service.ts
  services/job-service/src/modules/aggregator/providers/arbeitnow.provider.ts
  services/job-service/src/modules/aggregator/providers/jobicy.provider.ts
  services/job-service/src/modules/aggregator/providers/remoteok.provider.ts
  services/job-service/src/modules/aggregator/providers/remotive.provider.ts
  services/job-service/src/modules/aggregator/providers/themuse.provider.ts
  services/job-service/src/modules/aggregator/providers/weworkremotely.provider.ts
  services/job-service/src/modules/jobs/entities/job.entity.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

feat: Add job aggregation from 500+ sources with ATS adapters and compliance engine
  .claude/settings.local.json
  GOVERNMENT_API_IMPLEMENTATION.md
  apps/web/src/app/(dashboard)/admin/job-reports/page.tsx
  docs/job-sources.md
  redis-deployment.yaml
  services/auto-apply-service/package.json
  services/auto-apply-service/src/modules/compliance/compliance.service.ts
  services/job-service/package.json
  services/job-service/src/modules/aggregator/ADAPTERS_IMPLEMENTATION.md
  services/job-service/src/modules/aggregator/adapters/ats/greenhouse.adapter.ts
  services/job-service/src/modules/aggregator/adapters/ats/lever.adapter.ts
  services/job-service/src/modules/aggregator/adapters/ats/smartrecruiters.adapter.ts
  services/job-service/src/modules/aggregator/adapters/ats/workable.adapter.ts
  services/job-service/src/modules/jobs/entities/job.entity.ts
  services/resume-service/Dockerfile
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Convert import type to regular imports for NestJS DI compatibility
  services/auto-apply-service/src/health/health.module.ts
  services/auto-apply-service/src/health/health.service.ts
  services/auto-apply-service/src/modules/adapters/base.adapter.ts
  services/auto-apply-service/src/modules/adapters/greenhouse.adapter.ts
  services/auto-apply-service/src/modules/adapters/icims.adapter.ts
  services/auto-apply-service/src/modules/adapters/indeed.adapter.ts
  services/auto-apply-service/src/modules/adapters/lever.adapter.ts
  services/auto-apply-service/src/modules/adapters/linkedin.adapter.ts
  services/auto-apply-service/src/modules/adapters/smartrecruiters.adapter.ts
  services/auto-apply-service/src/modules/adapters/taleo.adapter.ts
  services/auto-apply-service/src/modules/adapters/workday.adapter.ts
  services/auto-apply-service/src/modules/applications/services/auto-apply.service.ts
  services/auto-apply-service/src/modules/auth/strategies/jwt.strategy.ts
  services/auto-apply-service/src/modules/captcha/captcha.service.ts
  services/auto-apply-service/src/modules/engine/service-client.service.ts
  services/auto-apply-service/src/modules/queue/processors/application.processor.ts
  services/auto-apply-service/src/modules/rate-limiter/rate-limiter.service.ts
  services/orchestrator-service/src/agents/compliance/compliance.service.ts
  services/orchestrator-service/src/agents/compliance/services/rate-limiter.service.ts
  services/orchestrator-service/src/orchestrator/orchestrator.service.ts
  services/orchestrator-service/src/orchestrator/processors/task-queue.processor.ts
  services/orchestrator-service/src/orchestrator/services/agent-client.service.ts
  services/orchestrator-service/src/orchestrator/workflow/workflow.service.ts
  services/resume-service/src/health/health.controller.ts
  services/resume-service/src/health/health.service.ts
  services/resume-service/src/modules/alignment/alignment.module.ts
  services/resume-service/src/modules/alignment/services/ai-service.client.ts
  services/resume-service/src/modules/alignment/services/cover-letter.service.ts
  services/resume-service/src/modules/alignment/services/resume-alignment.service.ts
  services/resume-service/src/modules/resumes/resumes.service.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Convert import type to regular imports for injectable classes
  services/auto-apply-service/src/health.controller.ts
  services/auto-apply-service/src/modules/answer-library/answer-library.controller.ts
  services/auto-apply-service/src/modules/answer-library/answer-library.service.ts
  services/auto-apply-service/src/modules/applications/applications.service.ts
  services/auto-apply-service/src/modules/applications/auto-apply.controller.ts
  services/auto-apply-service/src/modules/autofill/autofill.service.ts
  services/auto-apply-service/src/modules/engine/engine.controller.ts
  services/auto-apply-service/src/modules/engine/engine.service.ts
  services/auto-apply-service/src/modules/form-mapping/form-mapping.service.ts
  services/auto-apply-service/src/modules/human-behavior/human-behavior.service.ts
  services/auto-apply-service/src/modules/human-behavior/typing-simulation.service.ts
  services/orchestrator-service/src/agents/compliance/compliance.controller.ts
  services/orchestrator-service/src/orchestrator/orchestrator.controller.ts
  services/resume-service/src/common/guards/jwt-auth.guard.ts
  services/resume-service/src/modules/alignment/alignment.controller.ts
  services/resume-service/src/modules/resumes/resumes.controller.ts
  services/resume-service/src/modules/sections/sections.controller.ts
  services/resume-service/src/modules/sections/sections.service.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Implement tenant isolation security verification
  services/user-service/src/modules/tenant/middleware/tenant-isolation.middleware.ts
  services/user-service/src/modules/tenant/tenant.service.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

feat: Add Proxy and Scheduler modules for auto-apply service
  services/auto-apply-service/src/modules/proxy/index.ts
  services/auto-apply-service/src/modules/proxy/proxy.module.ts
  services/auto-apply-service/src/modules/proxy/proxy.service.ts
  services/auto-apply-service/src/modules/scheduler/index.ts
  services/auto-apply-service/src/modules/scheduler/scheduler.module.ts
  services/auto-apply-service/src/modules/scheduler/scheduler.service.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Update ACR login server to acrunifiedhealthdev2
  .github/workflows/build-images.yml
Due: azure-pipelines-enhanced.yml

fix: Update pnpm action-setup to v4
  .github/workflows/build-images.yml
Due: azure-pipelines-enhanced.yml

feat: Add Azure DevOps pipeline for CI/CD
  azure-pipelines.yml
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Use AzureCLI@2 for Docker builds with existing service connection
  azure-pipelines.yml
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

feat: Add unified CI pipeline workflow
  .github/workflows/ci.yml
Due: azure-pipelines-enhanced.yml

chore: Consolidate all workflows into unified CI Pipeline
  .github/workflows-archive/api-docs-generator.yml
  .github/workflows-archive/build-and-scan.yml
  .github/workflows-archive/build-images.yml
  .github/workflows-archive/cd-dev.yml
  .github/workflows-archive/cd-prod.yml
  .github/workflows-archive/cd-staging.yml
  .github/workflows-archive/ci-cd.yml
  .github/workflows-archive/container-build-sign-scan.yml
  .github/workflows-archive/cost-validation.yml
  .github/workflows-archive/deployment-verification.yml
  .github/workflows-archive/e2e-tests.yml
  .github/workflows-archive/integration-tests.yml
  .github/workflows-archive/payment-webhooks-monitor.yml
  .github/workflows-archive/rollback.yml
  .github/workflows-archive/sbom-validation.yml
  .github/workflows-archive/secret-rotation.yml
  .github/workflows-archive/security-scan.yml
  .github/workflows-archive/self-healing.yml
  .github/workflows-archive/smoke-tests.yml
  .github/workflows-archive/terraform-apply-enhanced.yml
  .github/workflows-archive/terraform-ci.yml
  .github/workflows-archive/terraform-drift-detection.yml
Due: azure-pipelines-enhanced.yml

test: Add comprehensive unit tests for auto-apply and resume services
  services/auto-apply-service/src/modules/adapters/base.adapter.spec.ts
  services/auto-apply-service/src/modules/adapters/greenhouse.adapter.spec.ts
  services/auto-apply-service/src/modules/adapters/icims.adapter.spec.ts
  services/auto-apply-service/src/modules/adapters/indeed.adapter.spec.ts
  services/auto-apply-service/src/modules/adapters/lever.adapter.spec.ts
  services/auto-apply-service/src/modules/adapters/linkedin.adapter.spec.ts
  services/auto-apply-service/src/modules/adapters/smartrecruiters.adapter.spec.ts
  services/auto-apply-service/src/modules/adapters/taleo.adapter.spec.ts
  services/auto-apply-service/src/modules/adapters/workday.adapter.spec.ts
  services/auto-apply-service/src/modules/applications/applications.controller.spec.ts
  services/auto-apply-service/src/modules/applications/applications.service.spec.ts
  services/auto-apply-service/src/modules/browser/browser.service.spec.ts
  services/auto-apply-service/src/modules/queue/queue.service.spec.ts
  services/resume-service/src/modules/export/export.service.spec.ts
  services/resume-service/src/modules/parser/parser.service.spec.ts
  services/resume-service/src/modules/resumes/resumes.service.spec.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

feat: Add GDPR compliance module to auth-service
  .gitignore
  services/auth-service/src/app.module.ts
  services/auth-service/src/modules/gdpr/dto/gdpr-request.dto.ts
  services/auth-service/src/modules/gdpr/dto/gdpr-response.dto.ts
  services/auth-service/src/modules/gdpr/dto/index.ts
  services/auth-service/src/modules/gdpr/entities/gdpr-request.entity.ts
  services/auth-service/src/modules/gdpr/entities/index.ts
  services/auth-service/src/modules/gdpr/gdpr.controller.ts
  services/auth-service/src/modules/gdpr/gdpr.module.ts
  services/auth-service/src/modules/gdpr/gdpr.service.ts
  services/auth-service/src/modules/gdpr/index.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix(payment-service): Fix migration assuming enum type instead of varchar
  services/payment-service/src/migrations/1733836800000-SubscriptionTierRebrand.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Make Elasticsearch optional and fix compression middleware
  services/job-service/src/modules/search/search.service.ts
  services/user-service/src/main.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

feat: Complete Global SaaS Revenue Readiness implementation (100/100)
  GO_LIVE_SIGNOFF.md
  REVENUE_READINESS_REPORT.md
  apps/web/src/app/layout.tsx
  apps/web/src/components/common/CookieConsent.tsx
  infrastructure/terraform/main.tf
  infrastructure/terraform/modules/acr-security/main.tf
  infrastructure/terraform/modules/acr-security/outputs.tf
  infrastructure/terraform/modules/acr-security/variables.tf
  infrastructure/terraform/modules/mfa-enforcement/main.tf
  infrastructure/terraform/modules/mfa-enforcement/outputs.tf
  infrastructure/terraform/modules/mfa-enforcement/variables.tf
  infrastructure/terraform/modules/security-center/main.tf
  infrastructure/terraform/modules/security-center/outputs.tf
  infrastructure/terraform/modules/security-center/variables.tf
  packages/security/src/index.ts
  packages/security/src/input-sanitization.middleware.ts
  packages/security/src/usage-tracking.middleware.ts
  packages/security/src/usage-tracking.service.ts
  services/analytics-service/src/app.module.ts
  services/auth-service/src/app.module.ts
  services/auto-apply-service/src/app.module.ts
  services/job-service/src/app.module.ts
  services/notification-service/src/app.module.ts
  services/orchestrator-service/src/app.module.ts
  services/payment-service/src/app.module.ts
  services/payment-service/src/modules/currency/currency.controller.ts
  services/payment-service/src/modules/currency/currency.module.ts
  services/payment-service/src/modules/currency/currency.service.ts
  services/payment-service/src/modules/dunning/dunning.service.ts
  services/payment-service/src/modules/revenue/revenue-metrics.service.ts
  services/payment-service/src/modules/revenue/revenue.controller.ts
  services/payment-service/src/modules/revenue/revenue.module.ts
  services/payment-service/src/modules/tax/tax.controller.ts
  services/payment-service/src/modules/tax/tax.module.ts
  services/payment-service/src/modules/tax/tax.service.ts
  services/resume-service/src/app.module.ts
  services/user-service/src/app.module.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines-terraform.yml, azure-pipelines.yml

fix(security): Fix TypeScript errors in security package
  packages/security/src/compliance/gdpr.ts
  packages/security/src/decorators/subscription.decorator.ts
  packages/security/src/guards/b2c-groups.guard.ts
  packages/security/src/input-sanitization.middleware.ts
  packages/security/src/usage-tracking.middleware.ts
  packages/security/src/usage-tracking.service.ts
  services/api-gateway/src/app.module.ts
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix(infra): Complete AWS infrastructure deployment with cost optimization
  infrastructure/terraform-aws/cicd.tf
  infrastructure/terraform-aws/environments/dev/terraform.tfvars
  infrastructure/terraform-aws/main.tf
  infrastructure/terraform-aws/modules/codebuild/main.tf
  infrastructure/terraform-aws/modules/codebuild/outputs.tf
  infrastructure/terraform-aws/modules/codebuild/variables.tf
  infrastructure/terraform-aws/modules/cost-management/main.tf
  infrastructure/terraform-aws/modules/cost-management/outputs.tf
  infrastructure/terraform-aws/modules/cost-management/variables.tf
  infrastructure/terraform-aws/modules/eks/main.tf
  infrastructure/terraform-aws/modules/eks/variables.tf
  infrastructure/terraform-aws/modules/elasticache/main.tf
  infrastructure/terraform-aws/modules/rds/main.tf
  infrastructure/terraform-aws/modules/rds/variables.tf
  infrastructure/terraform-aws/variables.tf
Due: .azuredevops/pipelines/azure-pipelines.yml, .azuredevops/pipelines/main.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

Path conditions:
  .azuredevops/pipelines/azure-pipelines.yml: any file but: *.md, docs, .github, marketing, brand
  .azuredevops/pipelines/main.yml: any file but: *.md, docs, .github, marketing, brand
  azure-pipelines-aks.yml: any of: apps, services, packages, infrastructure/kubernetes
  azure-pipelines-enhanced.yml: any file but: *.md, docs, infrastructure/azure
  azure-pipelines-terraform.yml: any of: infrastructure/terraform
  azure-pipelines.yml: any file but: *.md, docs, .github, marketing, brand
