Repository oks-citadel/Apply: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines-terraform.yml, azure-pipelines.yml

.azuredevops/pipelines/main.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildAndTest
    displayName: A. Build & Test
    jobs:
    - job: SecurityScanning
      displayName: Security Scanning
      steps:
      - checkout: self
        fetchDepth: 0
      - template: templates/security/security-scan.yml
        parameters:
  ...

azure-pipelines-aks.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildValidate
    displayName: Build & Validate
    jobs:
    - job: Build
      displayName: Build Application
      steps:
      - checkout: self
        fetchDepth: 0
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
  ...

azure-pipelines-enhanced.yml:
  stages:
  - stage: Build
    displayName: Build & Validate
    jobs:
    - job: Setup
      displayName: Setup Dependencies
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
  ...

azure-pipelines-terraform.yml:
  stages:
  - stage: Validate
    displayName: Validate Terraform
    jobs:
    - job: Validate
      displayName: Terraform Validate
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: 0
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Security
    displayName: üîí Security Scanning
    jobs:
    - job: SAST
      displayName: Static Application Security Testing
      steps:
      - checkout: self
        fetchDepth: 0
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
  ...

fix: Remove services/ from .dockerignore to allow Docker builds
  .dockerignore
Due: .azuredevops/pipelines/main.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Convert all service Dockerfiles to monorepo-aware pnpm builds
  apps/web/Dockerfile
  ops/docs/COST-OPTIMIZATION-ANALYSIS.md
  ops/docs/E2E-TEST-MATRIX.md
  ops/docs/INFRASTRUCTURE-UNIFIED-DESIGN.md
  ops/docs/OBSERVABILITY-ALERTS-RUNBOOKS.md
  ops/docs/PLATFORM-DISCOVERY-REPORT.md
  ops/docs/SCALING-DR-DESIGN.md
  services/analytics-service/Dockerfile
  services/auth-service/Dockerfile
  services/auto-apply-service/Dockerfile
  services/job-service/Dockerfile
  services/notification-service/Dockerfile
  services/orchestrator-service/Dockerfile
  services/payment-service/Dockerfile
  services/payment-service/src/common/enums/subscription-tier.enum.ts
  services/payment-service/src/migrations/1733836800000-SubscriptionTierRebrand.ts
  services/payment-service/src/modules/subscriptions/entities/subscription.entity.ts
  services/resume-service/Dockerfile
  services/user-service/Dockerfile
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Simplify CD-Dev workflow and improve job conditions
  .github/workflows/cd-dev.yml
Due: azure-pipelines-enhanced.yml

feat: Add dedicated Docker build workflow
  .github/workflows/build-images.yml
Due: azure-pipelines-enhanced.yml

fix: Simplify build-images workflow with static matrix
  .github/workflows/build-images.yml
Due: azure-pipelines-enhanced.yml

fix: Use Azure login instead of direct ACR login in build workflow
  .github/workflows/build-images.yml
Due: azure-pipelines-enhanced.yml

fix: Use service principal credentials for ACR login
  .github/workflows/build-images.yml
Due: azure-pipelines-enhanced.yml

fix: Revert to ACR admin credentials for docker login
  .github/workflows/build-images.yml
Due: azure-pipelines-enhanced.yml

fix: Add PATH and use pnpm exec nest build in all NestJS Dockerfiles
  services/analytics-service/Dockerfile
  services/auth-service/Dockerfile
  services/auto-apply-service/Dockerfile
  services/job-service/Dockerfile
  services/notification-service/Dockerfile
  services/orchestrator-service/Dockerfile
  services/payment-service/Dockerfile
  services/resume-service/Dockerfile
  services/user-service/Dockerfile
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Add graceful vector store initialization for ai-service
  k8s/ai-service-deployment.yaml
  services/ai-service/src/api/middleware/__init__.py
  services/ai-service/src/api/middleware/base.py
  services/ai-service/src/services/vector_store.py
  services/ai-service/src/telemetry.py
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Remove duplicate index definitions in User entity
  services/auth-service/src/modules/users/entities/user.entity.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix frontend registration by embedding API URL at build time and fixing response handling
  apps/web/Dockerfile
  apps/web/src/stores/authStore.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Match frontend password validation with backend requirements
  apps/web/src/components/forms/RegisterForm.tsx
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Add graceful initialization for AI service when API keys are placeholder
  services/ai-service/src/services/embedding_service.py
  services/ai-service/src/services/llm_service.py
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix login validation errors by enabling detailed error messages and accepting rememberMe field
  services/auth-service/src/main.ts
  services/auth-service/src/modules/auth/dto/login.dto.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

chore: Add validation scripts and migration completion marker
  MIGRATION_COMPLETE.txt
  scripts/validate-system.sh
  scripts/verify-azure-deployment.sh
Due: .azuredevops/pipelines/main.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Update CI workflow to use pnpm package manager
  .github/workflows/ci.yml
Due: azure-pipelines-enhanced.yml

fix: Fix Dockerfiles to build workspace packages before services
  apps/web/Dockerfile
  services/ai-service/Dockerfile
  services/analytics-service/Dockerfile
  services/auth-service/Dockerfile
  services/auto-apply-service/Dockerfile
  services/job-service/Dockerfile
  services/notification-service/Dockerfile
  services/orchestrator-service/Dockerfile
  services/payment-service/Dockerfile
  services/resume-service/Dockerfile
  services/user-service/Dockerfile
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix package names and add missing telemetry dependencies
  apps/web/Dockerfile
  packages/telemetry/package.json
  services/analytics-service/Dockerfile
  services/auth-service/Dockerfile
  services/auto-apply-service/Dockerfile
  services/job-service/Dockerfile
  services/notification-service/Dockerfile
  services/orchestrator-service/Dockerfile
  services/payment-service/Dockerfile
  services/resume-service/Dockerfile
  services/user-service/Dockerfile
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

chore: Update pnpm-lock.yaml after adding telemetry dependencies
  pnpm-lock.yaml
Due: .azuredevops/pipelines/main.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix telemetry package TypeScript compilation errors
  packages/telemetry/src/index.ts
  packages/telemetry/src/metrics.ts
  packages/telemetry/src/nestjs-metrics.ts
  packages/telemetry/src/nestjs-module.ts
  packages/telemetry/tsconfig.json
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix logger.ts pino type indexing issue
  packages/telemetry/src/logger.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix user-service TypeScript compilation errors
  services/user-service/src/modules/auth/guards/jwt-auth.guard.ts
  services/user-service/src/modules/recruiter/recruiter.service.ts
  services/user-service/src/modules/tenant/tenant.controller.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Resolve user-service deployment crashes
  packages/logging/src/context.ts
  packages/telemetry/package.json
  services/user-service/src/main.ts
  services/user-service/src/modules/auth/guards/jwt-auth.guard.ts
  services/user-service/src/modules/recruiter/recruiter.controller.ts
  services/user-service/src/modules/subscription/subscription.service.ts
  services/user-service/src/modules/tenant/tenant.controller.ts
  services/user-service/src/modules/tenant/tenant.module.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

feat: Add complete 6-tier subscription pricing UI
  apps/web/src/app/(dashboard)/settings/page.tsx
  apps/web/src/app/(marketing)/layout.tsx
  apps/web/src/app/(marketing)/pricing/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/features/billing/PricingTable.tsx
  apps/web/src/lib/constants/subscription-tiers.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix API routing, K8s probes, and CI/CD quality gates
  .github/workflows/ci.yml
  apps/web/src/lib/api/user.ts
  infrastructure/kubernetes/production/ai-service-deployment.yaml
  infrastructure/kubernetes/production/analytics-service-deployment.yaml
  infrastructure/kubernetes/production/auth-service-deployment.yaml
  infrastructure/kubernetes/production/auto-apply-service-deployment.yaml
  infrastructure/kubernetes/production/job-service-deployment.yaml
  infrastructure/kubernetes/production/notification-service-deployment.yaml
  infrastructure/kubernetes/production/orchestrator-service-deployment.yaml
  infrastructure/kubernetes/production/resume-service-deployment.yaml
  infrastructure/kubernetes/production/user-service-deployment.yaml
  infrastructure/kubernetes/production/web-deployment.yaml
  services/auth-service/src/health/health.controller.ts
  services/job-service/src/modules/alerts/alerts.controller.ts
  services/user-service/src/modules/analytics/analytics.controller.ts
  services/user-service/src/modules/career/career.controller.ts
  services/user-service/src/modules/preferences/preferences.controller.ts
  services/user-service/src/modules/profile/profile.controller.ts
  services/user-service/src/modules/skills/skills.controller.ts
  services/user-service/src/modules/subscription/subscription.controller.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Add SSL support and missing packages for database migrations
  .claude/settings.local.json
  services/auth-service/src/config/data-source.ts
  services/resume-service/package.json
  services/resume-service/src/modules/alignment/dto/alignment-response.dto.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Resolve TypeScript errors in 4 services and migration case issue
  pnpm-lock.yaml
  services/auth-service/src/migrations/1733200000000-InitialSchema.ts
  services/auto-apply-service/src/main.ts
  services/auto-apply-service/src/modules/adapters/base.adapter.ts
  services/auto-apply-service/src/modules/applications/dto/create-application.dto.ts
  services/auto-apply-service/src/modules/applications/dto/update-application.dto.ts
  services/auto-apply-service/src/modules/browser/browser.service.ts
  services/auto-apply-service/src/modules/engine/engine.controller.ts
  services/auto-apply-service/src/modules/engine/interfaces/engine.interface.ts
  services/auto-apply-service/src/modules/engine/service-client.service.ts
  services/auto-apply-service/src/modules/queue/queue.service.ts
  services/auto-apply-service/src/modules/rate-limiter/rate-limiter.service.ts
  services/orchestrator-service/package.json
  services/orchestrator-service/src/agents/compliance/services/__tests__/rate-limiter.service.spec.ts
  services/orchestrator-service/src/orchestrator/__tests__/orchestrator.service.spec.ts
  services/orchestrator-service/src/orchestrator/services/agent-client.service.ts
  services/payment-service/src/common/logging/logging.service.ts
  services/payment-service/src/main.ts
  services/payment-service/src/modules/flutterwave/flutterwave.service.ts
  services/payment-service/src/modules/paystack/paystack.service.ts
  services/payment-service/src/modules/subscriptions/dto/update-subscription.dto.ts
  services/resume-service/src/migrations/1734287000000-CreateAlignmentTables.ts
  services/resume-service/src/modules/alignment/services/cover-letter.service.ts
  services/resume-service/src/modules/alignment/services/resume-alignment.service.ts
  services/resume-service/src/modules/resumes/resumes.service.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix jobs API response format mismatch
  apps/web/src/lib/api/jobs.ts
  services/job-service/src/modules/jobs/jobs.controller.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Update GitHub workflows to use pnpm instead of npm
  .github/workflows/api-docs-generator.yml
  .github/workflows/build-images.yml
  .github/workflows/cd-staging.yml
  .github/workflows/ci-cd.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/security-scan.yml
Due: azure-pipelines-enhanced.yml

fix: Make SARIF upload non-blocking for private repos
  .github/workflows/build-and-scan.yml
  .github/workflows/cd-prod.yml
  .github/workflows/ci-cd.yml
  .github/workflows/container-build-sign-scan.yml
  .github/workflows/security-scan.yml
  .github/workflows/terraform-ci.yml
Due: azure-pipelines-enhanced.yml

fix: Remove stale pinned SHA digests from all Dockerfiles
  apps/admin/Dockerfile
  apps/employer/Dockerfile
  apps/web/Dockerfile
  services/ai-service/Dockerfile
  services/analytics-service/Dockerfile
  services/auth-service/Dockerfile
  services/auto-apply-service/Dockerfile
  services/job-service/Dockerfile
  services/notification-service/Dockerfile
  services/orchestrator-service/Dockerfile
  services/payment-service/Dockerfile
  services/resume-service/Dockerfile
  services/user-service/Dockerfile
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

fix: Fix TypeScript errors in packages/utils health utilities
  packages/utils/package.json
  packages/utils/src/health/health.utils.ts
  packages/utils/src/health/index.ts
Due: .azuredevops/pipelines/main.yml, azure-pipelines-aks.yml, azure-pipelines-enhanced.yml, azure-pipelines.yml

Path conditions:
  .azuredevops/pipelines/main.yml: any file but: *.md, docs, .github, marketing, brand
  azure-pipelines-aks.yml: any of: apps, services, packages, infrastructure/kubernetes
  azure-pipelines-enhanced.yml: any file but: *.md, docs, infrastructure/azure
  azure-pipelines-terraform.yml: any of: infrastructure/terraform
  azure-pipelines.yml: any file but: *.md, docs, .github, marketing, brand
